@font-face {
    font-family: "BogartBold";
    src: url('./font/Bogart-Bold-trial.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

h1,h2,h3,h4,h5,h6, .font, a {font-family: "BogartBold" !important;}
body{
  /* margin: 0 -55px 0 0 !important; */
  height: 100%;
  color: #000000;
  line-height: 1.8;
}

.w3-bar .w3-bar-item{
  
  padding: 8px 30px !important;
}
html, p {
  color: #000000;
  line-height: 1.8;
}

.bodyText {
  font-family: "Raleway", serif !important;
  
  font-size: 18px;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('img/ENGAGEMENTS-44.jpg');
  min-height: 100%;
}

/* Second image (DETAILS) */
.bgimg-2 {
    background-image: url('img/KellyArthurSlowShutter.gif');
  min-height: 500px;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url('img/ENGAGEMENTS-68.jpg');
  min-height: 500px;
}

/* Fourth image (Contact) */
.bgimg-4 {
    background-image: url('img/ENGAGEMENTS-24.jpg');
  min-height: 500px;
}

/* Fifth image (Contact) */
.bgimg-5 {
  background-image: url('img/ENGAGEMENTS-132.jpg');
min-height: 500px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

.success {
  background-color: #9fd2a1;
  padding: 5px 10px;
  color: #326b07;
  text-align: center;
  border-radius: 3px;
  font-size: 14px;
  margin-top: 10px;
}

form {
  display: inline-block;  
  width: 100%;
}

.flex {
  display: flex;
}

input {
  margin-right: 10px !important;
  height: 40px;
  /* width: 90% !important; */
}

.offset1 {
  position: absolute;
  bottom: -45px;
  left: -35px;
  z-index: 100;
}

.relative {
  position: relative;
}

.subscribe{
background-color: #000000 !important;
}

.hide {
  display: none;
}

.subscribe-form__thanks{
  color: green;
}

.contact-form__thanks{
  color: green;
}